<div id="projects">
	 
	<div class="container-fluid" >
		<div class="row">
			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 projects-lbl">
				<h2>Projects</h2>
				<div class="small-line"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row projects-row">

			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 Minor-Projects">
				
				<%= image_tag ("million-full.png"), class:"project-pic-full"%>
				<a href="www.google.com" target="_blank" class="external-link"><i class="fa fa-external-link fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>Million Dollars But</h2><h2 class="extra-title">( Beta )</h2>
					</div>
					<div class="small-line"></div>
					<p>Fan site based on the web show "Million Dollars But" where uses can answer and submit quetions</p>
					
				</div>
				<div class="more-info">
					<h3>Ruby on Rails</h3>
					<h3>AngularJS</h3>
					<h3>AJAX</h3>
					<h3>JSON</h3>
					<h3>Users</h3>
					<h3>User Submission</h3>
					<h3>Likes</h3>
					<h3>PostgreSQL</h3>
					<h3>Responsive</h3>
					<h3>HTML5</h3>
					<p>January 2016</p>
				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x"></i></button>

			</div>
			<div class="col col-sm-5 col-sm-offset-0 col-md-4 Minor-Projects">
				<%= image_tag ("personal-full.png"), class:"project-pic-full"%>
				<a href="#" class="external-link my-site-up"><i class="fa fa-arrow-circle-up fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>This Website</h2>
					</div>
					<div class="small-line"></div>
					<p>My current personal resume and portfolio website</p>
					
				</div><div class="more-info">
					<h3>Ruby on Rails</h3>
					<h3>Responsive</h3>
					<h3>HTML5</h3>
					<h3>CSS3</h3>
					<h3>Sass</h3>
					<h3>Bootstrap</h3>
					<h3>Jquery</h3>

					<p>January 2016</p>
				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x expand-arrow"></i></button>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">

			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 Minor-Projects">
				
				<%= image_tag ("mustache-full.png"), id: "mustache-full", class:"project-pic-full"%>
				<a href="http://mustache.myprojectchest.com" target="_blank" class="external-link"><i class="fa fa-external-link fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>Ali's Mustache</h2>
					</div>
					<div class="small-line"></div>
					<p>A website I made as a joke to commemorate my friend's mustache after he shaved it</p>
					
				</div><div class="more-info">
					<h3>Responsive</h3>
					<h3>HTML5</h3>
					<h3>CSS3</h3>
					<h3>Jquery</h3>
					<h3>Google Maps API</h3>
					
					<p>December 2015</p>

				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x expand-arrow"></i></button>

			</div>
			<div class="col col-sm-5 col-md-4 Minor-Projects">
				<%= image_tag ("timeline-full.png"), class:"project-pic-full"%>
				<a href="http://deathtimeline.com/" target="_blank" class="external-link"><i class="fa fa-external-link fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>Death Timeline</h2>
					</div>
					<div class="small-line"></div>
					<p>A timeline of all deaths on the HBO TV show Game of Thrones</p>
					
				</div><div class="more-info">
					<h3>Ruby on Rails</h3>
					<h3>PostgreSQL</h3>
					<h3>Responsive</h3>
					<h3>HTML5</h3>
					<h3>CSS3</h3>
					<h3>Sass</h3>
					<h3>Bootstrap</h3>
					<h3>Jquery</h3>

					<p>July 2015</p>
				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x expand-arrow"></i></button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">

			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 Minor-Projects">
				
				<%= image_tag ("planet-full.png"), id: "planets-full", class:"project-pic-full"%>
				<a href="http://planets.myprojectchest.com" target="_blank" class="external-link"><i class="fa fa-external-link fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>Pixel Planets</h2>
					</div>
					<div class="small-line"></div>
					<p>Pure CSS scale model of the solar sytem where the diameter of Pluto represents each pixel</p>
					
				</div>
				<div class="more-info">
					<h3>HTML5</h3>
					<h3>CSS3</h3>
					<h3>Jquery</h3>
					<p>June 2015</p>
				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x"></i></button>
			</div>
			<div class="col col-sm-5 col-sm-offset-0 col-md-4 Minor-Projects">
				
				<%= image_tag ("old-full.png"), id: "planets-full", class:"project-pic-full"%>
				<a href="http://oldsite.myprojectchest.com" target="_blank" class="external-link"><i class="fa fa-external-link fa-2x"></i></a>

				<div class="web-description">
					<div>
						<h2>Archived Old Personal Site</h2>
					</div>
					<div class="small-line"></div>
					<p>A pesonal resume site that was my first prodcution website. </p>
					
				</div>
				<div class="more-info">
					<h3>HTML5</h3>
					<h3>CSS3</h3>
					<h3>Jquery</h3>
					<p>December 2014</p>
				</div>
				<button class="more-info-btn" ><i class="fa fa-angle-up fa-2x"></i></button>
			</div>
		</div>
	</div>
</div>